
@{
    ViewBag.Title = "CreateRequest";
}

<h2>Create Request</h2>

<form action="" method="post" class="form-horizontal">
    <h4>Restaurant </h4>
    <hr />
    <div class="form-group">
        <label for="name" class="control-label col-md-2">Food Type</label>
        <div class="col-md-10">
            <input type="text" name="Type" class="form-control" />
        </div>

        <br /><br />

        <label for="quantity" class="control-label col-md-2">Quantity</label>
        <div class="col-md-10">
            <input type="text" name="Quantity" class="form-control" />
        </div>

        <br /><br />


        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Request" class="btn btn-default" />
        </div>
    </div>
    <div>
        <a href="#" class=""></a>
    </div>
</form>

