
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@if (@TempData["message"] != null)
{

    <h4 class="alert alert-warning">@TempData["message"]</h4>
}

<form action="" method="post" class="form-horizontal">
    <h4>Restaurant </h4>
    <hr />
    <div class="form-group">
        <label for="name" class="control-label col-md-2">User Name</label>
        <div class="col-md-10">
            <input type="text" name="UserName" class="form-control" />
        </div>

        <br /><br />

        <label for="password" class="control-label col-md-2">Password</label>
        <div class="col-md-10">
            <input type="password" name="Password" class="form-control" />
        </div>

        <br /><br />

        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Login" class="btn btn-default" />
        </div>
    </div>
    <div>
        <a href="//index" class="">Back to List</a>
    </div>
</form>