
@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>

<a href="/Employee/ManageEmployee" class="btn btn-primary">Manage Employees</a>
<a href="/Restaurant/ManageRestaurant" class="btn btn-primary">Manage Restaurants</a>
<a href="/Admin/CollectionRequest" class="btn btn-primary">Collection Requests</a>
<a href="/Admin/Logout" class="btn btn-danger">Logout</a>