
@{
    ViewBag.Title = "Restaurant";
}

<h2></h2>

<form action="" method="post" class="form-horizontal">
    <h4>Welcome </h4>
    <hr />
    <div class="form-group">
        <label for="name" class="control-label col-md-2">Restaurant Name</label>
        <div class="col-md-10">
            <input type="text" name="RestaurantName" class="form-control" />
        </div>

        <br /><br />

        <label for="name" class="control-label col-md-2">User Name</label>
        <div class="col-md-10">
            <input type="text" name="UserName" class="form-control" />
        </div>

        <br /><br />

        <label for="location" class="control-label col-md-2">Location</label>
        <div class="col-md-10">
            <input type="text" name="Location" class="form-control" />
        </div>

        <br /><br />

        <label for="password" class="control-label col-md-2">Password</label>
        <div class="col-md-10">
            <input type="password" name="Password" class="form-control" />
        </div>

        <br /><br />

        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
    <div>
        <a href="//index" class="">Back to List</a>
    </div>
</form>