
@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>





<form action="" method="post" class="form-horizontal">
    <h4>Employee </h4>
    <hr />
    <div class="form-group">
        <div class="col-md-10">
            <a href="/Employee/Collection" class="btn btn-primary">Assigned Collection</a>
            <a href="/Employee/Logout" class="btn btn-danger">Logout</a>
        </div>
    </div>
    <div>
        <a href="//index" class="">Back to List</a>
    </div>
</form>